.sidebarLeft{
    background-color: #222831;
    overflow: 'auto';
    height: '100vh';
    position: 'fixed';
    left: 0; 
}
.sidebarLeft ul {
    background-color: transparent !important;
    width: 100% !important;
}

.sidebarLeft ul li {
   
    height: 100% !important;
    width: 100% !important;
    padding: 0 calc(50% - 35px / 2) !important;
}


.iconSidebar {
    zoom: 2.2;
}

.avatarSidebar {
    margin-left: -6px !important;
    zoom: 1.8;
}